@import 'colors';
@import 'fonts';
@import 'reset';
@import 'sprites';
@import 'breakpoints';

html {
    font-size: 62.5%;
}

body {
    background: $body;
    font-size: 1.6rem;
    font-family: 'Roboto';
    color: $text;
}


